#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}
#demo {
    font-size: 2em;
    font-family: Chiller;
    color: #ec7015;
    background-color: cyan;
}
.side{
    margin-left:20px;
    margin-right:20px;
}
table{
    border-collapse: separate;
    background-color: #3679B6;
}
